name: Check PR
on:
  pull_request:

jobs:
  test:
    name: Check ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
          cache: 'yarn'

      - name: Cache node modules
        uses: actions/cache@v3
        id: cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Check ESLint
        run: yarn eslint src

  check-pr-title:
    name: Check PR title
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v2
      - name: Check PR title
        uses: Slashgear/action-check-pr-title@v4.3.0
        with:
          regexp: '(EDIT|FIX|ADD|REFACTOR|REMOVE|DEPLOY|REVERT) - .+'